<div class="text-center text-2xl font-sans font-bold text-neutral-950 pt-12 dark:text-white">
  <h1>Login Page</h1>
</div>

<% flash.each do |type, msg| %>
  <div class="w-1/4 mx-auto text-sm my-6 p-3 bg-red-50 border border-red-500 text-red-900 rounded-md">
    <%= msg %>
  </div>
<% end %>

<div class="max-w-sm mx-auto">
  <%= form_with url: user_login_path, scope: :user do |form| %>
    <div class="mb-5">
        <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.email_field :email, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="mb-5">
        <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.password_field :password, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <%= form.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" %>
      </div>
      <%= form.label :remember_me, class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    </div>

    <div class="mx-auto text-center">
      <%= form.submit "Sign In", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    </div>
  <% end %>
  
  <p class="mt-5 text-sm font-medium text-gray-900 dark:text-white">Don't have an account?<%= link_to 'Sign Up', user_sign_up_path, class: 'ms-1 text-sm font-medium text-gray-900 dark:text-blue-600' %></p>
</div>